@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#panel_body{
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  /* td, th {
    width: 12%;
  } */

  #action td, th {
      width: 60px;
  }

