<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Simply Car List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th (sort)="onSort($event)">ID</th>
          <th>Company</th>
          <th>Model</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let simplycar of simplycars | async">
          <td>{{simplycar.id}}</td>
          <td>{{simplycar.company}}</td>
          <td>{{simplycar.model}}</td>
          <td><button (click)="deleteSimplyCar(simplycar.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateSimplyCar(simplycar.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="simplycarDetails(simplycar.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

