<h3>Create Car</h3>
<div [hidden]="submitted" style="width: 400px;">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <form [formGroup]="form">
                <mat-form-field>
                    <mat-label>Company</mat-label>
                    <mat-select [(ngModel)]="car.company" formControlName="company" name="company" required>
                        <mat-option *ngFor="let company of companies" value="company" [value]="company">{{ company.name }}                           
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="validError('company', 'required')">Company should be selected!</mat-error>
                </mat-form-field>
            </form>
        </div>

        <div class="form-group">
            <label for="name">Model</label>
            <input type="text" class="form-control" formControlName="name" id="name" required [(ngModel)]="car.name" name="name" />
            <mat-error *ngIf="validError('name', 'required')"></mat-error>
            <mat-error *ngIf="validError('name', 'pattern')">Incorrect format!</mat-error>
        </div>

        <div class="form-group">
            <label for="name">Start production</label>
            <input type="text" class="form-control" formControlName="startproduction" id="startproduction" required [(ngModel)]="car.startproduction" name="startproduction" />
            <mat-error *ngIf="validError('startproduction', 'required')"></mat-error>
            <mat-error *ngIf="validError('startproduction', 'pattern')">Incorrect format!</mat-error>
        </div>

        <div class="form-group">
            <label for="name">End production</label>
            <input type="text" class="form-control" formControlName="endproduction" id="endproduction" required [(ngModel)]="car.endproduction" name="endproduction" />
            <mat-error *ngIf="validError('endproduction', 'required')"></mat-error>
            <mat-error *ngIf="validError('endproduction', 'pattern')">Incorrect format!</mat-error>
        </div>

        <div class="form-group">
            <label for="name">NCAP stars</label>
            <input type="text" class="form-control" formControlName="ncap" id="ncap" required [(ngModel)]="car.ncap" name="ncap" />
            <mat-error *ngIf="validError('ncap', 'required')"></mat-error>
            <mat-error *ngIf="validError('ncap', 'pattern')">Value must be between 0 and 5!</mat-error>
        </div>

        <div class="form-group">
            <form [formGroup]="form">
                <mat-form-field>
                    <mat-label>Country</mat-label>
                    <mat-select [(ngModel)]="car.country" formControlName="country" name="country" required>
                        <mat-option *ngFor="let country of countries" value="country" [value]="country">{{ country.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="validError('country', 'required')">Country should be selected!</mat-error>
                </mat-form-field>
            </form>
        </div>

        <div class="form-group">
            <form [formGroup]="form">
                <mat-form-field>
                    <mat-label>Segment</mat-label>
                    <mat-select [(ngModel)]="car.segment" formControlName="segment" name="segment" required>
                        <mat-option *ngFor="let segment of segments" value="segment" [value]="segment">{{ segment.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="validError('segment', 'required')">Segment should be selected!</mat-error>
                </mat-form-field>
            </form>
        </div>

        <div class="form-group">
            <form [formGroup]="form">
                <mat-form-field>
                    <mat-label>Body type</mat-label>
                    <mat-select [(ngModel)]="car.bodytype" formControlName="bodytype" name="bodytype" required>
                        <mat-option *ngFor="let bodytype of bodytypes" value="bodytype" [value]="bodytype">{{ bodytype.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="validError('bodytype', 'required')">Body type should be selected!</mat-error>
                </mat-form-field>
            </form>
        </div>

        <button type="submit" class="btn btn-success">submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
</div>

<div [hidden]="!error">
    <h4> Something is wrong!</h4>
</div>
