<h3>Create Bodytype</h3>
<div [hidden]="submitted" style="width: 400px;">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" id="name" required [(ngModel)]="bodytype.name" name="name">
            <mat-error *ngIf="validError('name', 'required')"></mat-error>
            <mat-error *ngIf="validError('name', 'pattern')">Incorrect format!</mat-error>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
</div>

<div [hidden]="!error">
    <h4> Something is wrong!</h4>
</div>
