<h3>Create Company</h3>
<div [hidden]="submitted" style="width: 400px;">

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="company.name" name="name">
    </div>

    <div class="form-group">
        <label for="name">Foundation year</label>
        <input type="text" class="form-control" id="foundationyear" required [(ngModel)]="company.foundationyear" name="foundationyear">
    </div>

    <div class="form-group">
        <label for="name">Company</label>
        <input type="text" class="form-control" id="country.name" required [(ngModel)]="company.country.name" name="country.name">
    </div>

    </div>

    <button type="submit" class="btn btn-success">submit</button>

  </form>
</div>

<!-- <div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div> --> 