<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="homepage" class="nav-link" routerLinkActive="active">Home Page</a>
      </li>
    <li class="nav-item">
        <a routerLink="simplycar/" class="nav-link" routerLinkActive="active">Simply Car list</a>
    </li>
    <li class="nav-item">
        <a routerLink="simplycar/add" class="nav-link" routerLinkActive="active">Add simply car</a>
    </li>
    <li class="nav-item">
        <a routerLink="country/" class="nav-link" routerLinkActive="active">Country list</a>
    </li>
    <li class="nav-item">
        <a routerLink="country/add" class="nav-link" routerLinkActive="active">Add country</a>
    </li>
    <li class="nav-item">
        <a routerLink="company/" class="nav-link" routerLinkActive="active">Company list</a>
    </li>
    <li class="nav-item">
        <a routerLink="company/add" class="nav-link" routerLinkActive="active">Add company</a>
    </li>
    <li class="nav-item">
      <a routerLink="segment/" class="nav-link" routerLinkActive="active">Segment list</a>
    </li>
    <li class="nav-item">
      <a routerLink="segment/add" class="nav-link" routerLinkActive="active">Add segment</a>
    </li>
    <li class="nav-item">
        <a routerLink="bodytype/" class="nav-link" routerLinkActive="active">Bodytype list</a>
    </li>
    <li class="nav-item">
        <a routerLink="bodytype/add" class="nav-link" routerLinkActive="active">Add bodytype</a>
    </li>
    <li class="nav-item">
      <a routerLink="engine/" class="nav-link" routerLinkActive="active">Engine list</a>
    </li>
    <li class="nav-item">
        <a routerLink="engine/add" class="nav-link" routerLinkActive="active">Add engine</a>
    </li>
    <li class="nav-item">
      <a routerLink="car/" class="nav-link" routerLinkActive="active">Car list</a>
    </li>
    <li class="nav-item">
        <a routerLink="car/add" class="nav-link" routerLinkActive="active">Add car</a>
    </li>
  </ul>
</nav>

<div class="container">
 <br>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

