#container{
    position: fixed;
}

nav{
    background-color: cornflowerblue;
}

.mat-button, .mat-raised-button{
    color: whitesmoke;
    float: right;
}

#space{
    flex: auto;
    float: right;
}
